body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="date"],
.form-group input[type="tel"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #45a049;
}

#btnn{
    margin-top: 10px;
    background-color: blue;
}

#bus_type, #room, #flight_type{
    width: 40%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}